<link rel="stylesheet" href="../../css/layout/nav.css">

<div id="navbar-landingpage" class="d-none">
    <nav class="navbar bg-body-tertiary navbar-color">
        <div class="container-fluid">
            <h1 class="navbar-brand">StockShoes</h1>
            <div>
                <a href="formulario.html">
                    <button class="btn btn-info">Cadastrar Produto</button>
                </a>
                <a href="cadastros.html">
                    <button class="btn btn-info">Ver produtos</button>
                </a>
            </div>
        </div>
    </nav>
</div>

<div id="navbar-formulario" class="d-none">
    <nav class="navbar bg-body-tertiary navbar-color">
        <div class="container-fluid">
            <h1 class="navbar-brand">StockShoes</h1>
            <div>
                <a href="index.html">
                    <button class="btn btn-info">Home</button>
                </a>
                <a href="cadastros.html">
                    <button class="btn btn-info">Ver produtos</button>
                </a>
            </div>
        </div>
    </nav>
</div>

<div id="navbar-cadastros" class="d-none">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-color">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./formulario.html">
                            <button class="btn btn-info" type="submit">Formulário</button>
                        </a>
                    </li>
                    <li class="nav-item dropdown mt-1">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Filtrar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item campo-selected" href="#"
                                    onclick="adicionarFiltro('marca')">Marca</a></li>
                            <li><a class="dropdown-item" href="#" onclick="adicionarFiltro('modelo')">Modelo</a></li>
                            <li><a class="dropdown-item" href="#" onclick="adicionarFiltro('cor')">Cor</a></li>
                            <li><a class="dropdown-item" href="#" onclick="adicionarFiltro('preco')">Preço</a></li>
                            <li><a class="dropdown-item" href="#" onclick="adicionarFiltro('tamanho')">Tamanho</a></li>
                            <li><a class="dropdown-item" href="#" onclick="adicionarFiltro('estoque')">Estoque</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search" onsubmit="pesquisar(event)">
                    <input id="barra-pesquisa" class="form-control me-2" type="search" placeholder="Pesquisar"
                        aria-label="Search">
                    <button class="btn btn-info" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </nav>
</div>